@page "/ListadoUsuarios"
@rendermode InteractiveServer
@inject IRepositorioUsuario RepositorioUsuario
@inject UsuarioListadoUseCase UsuarioListadoUseCase
@inject UsuarioServicioLogin UsuarioServicioLogin

<PageTitle>Listado de Usuarios</PageTitle>

<h1>Listado de Usuarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (usuarios != null && usuarios.Any())
            {
                foreach (var usuario in usuarios)
                {
                    <tr>
                        <td class="centrar-texto">@usuario.ID</td>
                        <td class="centrar-texto">@usuario.Nombre</td>
                        <td class="centrar-texto">@usuario.Apellido</td>
                        <td class="centrar-texto">@usuario.DNI</td>
                        <td class="centrar-texto">@usuario.Email</td>
                        <td class="centrar-texto">@usuario.Telefono</td>
                        <td>
                            <button class="btn btn-primary">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10">No hay usuarios disponibles.</td>
                </tr>
            }
        </tbody>
    </table>

    @code {
        List<UsuarioDTO> usuarios = new List<UsuarioDTO>();
        
        protected override async Task OnInitializedAsync()
        {
            try
            {
                var usuarioActual = UsuarioServicioLogin.GetUser();
                usuarios = await UsuarioListadoUseCase.Ejecutar(usuarioActual.Id);
            }
            catch (Exception ex)
            {
                // Manejo de errores, por ejemplo, mostrar un mensaje al usuario
                Console.WriteLine($"Error al cargar los usuarios: {ex.Message}");
            }

    
        }
    }