@page "/ListadoEventosDeportivos"
@rendermode InteractiveServer
@inject IRepositorioEventoDeportivo RepositorioED
@inject EventoDeportivoListadoUseCase EventoDeportivoListadoUseCase
@inject UsuarioServicioLogin UsuarioServicioLogin

<PageTitle>Listado de Eventos Deportivos</PageTitle>

<h1>Listado de Eventos Deportivos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Responsable ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha Inicio</th>
                <th>Duracion</th>
                <th>Cupo Maximo</th>
            </tr>
        </thead>
        <tbody>
            @if (eventos != null && eventos.Any())
            {
                foreach (var evento in eventos)
                {
                    <tr>
                        <td>@evento.Id</td>
                        <td>@evento.ResponsableId</td>
                        <td>@evento.Nombre</td>
                        <td>@evento.Descripcion</td>
                        <td>@evento.FechaHoraInicio</td>
                        <td>@evento.DuracionHoras</td>
                        <td>@evento.CupoMaximo</td>
                        <td>
                            <button class="btn btn-primary">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">No hay eventos disponibles.</td>
                </tr>
            }
        </tbody>
    </table>

    @code {
        List<EventoDeportivoDTO> eventos = new List<EventoDeportivoDTO>();
        
        protected override async Task OnInitializedAsync()
        {
            try
            {
                var usuarioActual = UsuarioServicioLogin.GetUser();
                eventos = await EventoDeportivoListadoUseCase.EjecutarAsync(usuarioActual.Id);
            }
            catch (Exception ex)
            {
                // Manejo de errores, por ejemplo, mostrar un mensaje al usuario
                Console.WriteLine($"Error al cargar los eventos: {ex.Message}");
            }

    
        }
    }